.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

aside {
  background-color: #297fb8;
  width: 200px;
  height: calc(100vh - 50px);;
  border-right: 1px solid #236fa3;
  color: white;
  position: absolute;
  top: 50px;
  left: -200px;
  transition: all 0.5s linear;
}

aside.isOpen {
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex: 0 0 50px;
  background-color: #297fb8;
}

.menu-btn {
  background: none;
  color: white;
  border: none;
}

main {
  flex: 1;
}